/386Games/bin
/386Games/obj
/Dirt/bin
/Dirt/obj
/Dirt/AssetBundle/Assets/AssetBundles
/Dirt/AssetBundle/Assets/MSC Models
/Dirt/AssetBundle/Assets/ReferenceTextures
/Dirt/AssetBundle/Library
/Dirt/AssetBundle/obj
/Dirt/AssetBundle/Temp
/MobilePhone/AssetBundle/Assets/AssetBundles
/MobilePhone/AssetBundle/Library
/MobilePhone/AssetBundle/obj
/MobilePhone/AssetBundle/Temp
/MobilePhone/bin
/MobilePhone/obj
/PaintMagazine/AssetBundle/Assets/AssetBundles
/PaintMagazine/AssetBundle/Library
/PaintMagazine/AssetBundle/obj
/PaintMagazine/AssetBundle/Temp
/PaintMagazine/bin
/PaintMagazine/obj
/RadioSubtitles/bin
/RadioSubtitles/obj
/RadioSubtitles/clips
/Still/bin
/Still/obj
/Still/AssetBundle/Assets/AssetBundles
/Still/AssetBundle/Library
/Still/AssetBundle/obj
/Still/AssetBundle/Temp
/SubtitleOutline/bin
/SubtitleOutline/obj
/DeveloperToolset/bin
/DeveloperToolset/obj
/SportsBag/AssetBundle/Library
/SportsBag/AssetBundle/Temp
/SportsBag/AssetBundle/obj
/Welder/obj
/Welder/bin
/SportsBag/obj
/SportsBag/bin
/SportsBag/AssetBundle/Assets/AssetBundles
